body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  height: 300px;
  background: #fff;
  margin: 300px auto;
  padding: 30px;
}

.title {
  font-size: 24px;
  background: #e3f4ff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.content {
  font-size: 20px;
  background: #e3f4ff;
  padding: 20px;
  margin-bottom: 20px;
}


.button-container, button{
  text-align: center ;
  font-size: 24px;
  padding: 4px 8px;
  margin: 20px;
}

.button-container {  
  padding: 20px 0px;
  margin: auto;
  background: #e3f4ff;
  
}

button {
  padding: auto 40px;
  margin: auto auto;
  display: block;
  background: white;
  border: 1px solid #eee;
}